<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DEV" connectionString="Server=DEV-SQL;Database=MyDB;User Id=sa;Password=xxx;" providerName="System.Data.SqlClient"/>
		<add name="QA" connectionString="Server=QA-SQL;Database=MyDB;User Id=sa;Password=xxx;" providerName="System.Data.SqlClient"/>
		<add name="Demo" connectionString="Server=QA-SQL;Database=MyDB;User Id=sa;Password=xxx;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
